.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: scale-down;
}

.card-url {
    color: var(--bs-body-color);
    text-decoration: none;
}

div.disabled-device-card img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 0.2s ease, -webkit-filter 0.2s ease;
}

div.disabled-device-card:hover img {
    filter: none;
    -webkit-filter: none;
}