{% extends 'maintainer_base.html' %}

{% load i18n %}
{% load crispy_forms_filters %}

{% block title %}{% translate "Register" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <div class="alert alert-info">{% translate "Create a new maintainer account." %}</div>
            <div class="alert alert-danger">{% translate "If you did not file a maintainer application or if you were not accepted as a maintainer, please do not fill out this form." %}
            </div>

            <form action="" method="post">
                {{ form | crispy }}
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value='{% translate "Create Account" %}'>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}