{% extends 'maintainer_base.html' %}
{% block title %}Password Change{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <div class="alert alert-info">Change your password using the following form:</div>

        <form action="" method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Change Password">
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}