{% extends 'maintainer_base.html' %}

{% load i18n %}
{% load crispy_forms_filters %}

{% block title %}{% translate "Edit" %}{% endblock %}

{% block content %}
    <div class="alert alert-info">{% translate "To change your username or email, or to delete your account, contact an administrator." %}</div>

    <form action="" method="post">
        {{ form | crispy }}
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value='{% translate "Save" %}'>
    </form>
{% endblock %}