{% extends 'maintainer_base.html' %}

{% block title %}Admin statistics{% endblock %}

{% block content %}

    <h1>Maintainer/device statistics</h1>

    <p>{{ enabled_devices_count }} devices maintained by {{ active_maintainers_count }} maintainers.</p>
    <p>{{ disabled_devices_count }} unsupported devices, {{ inactive_maintainers_count }} inactive maintainers.</p>


    <h1>Build statistics</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Variant</th>
            <th scope="col">Count</th>
            <th scope="col">Size</th>
        </tr>
        </thead>
        <tbody>
        {% for variant in upload_variants %}
            {% admin_stats_variant_row variant=variant %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td><strong>Total</strong></td>
            <td><strong>{{ builds_count }} builds</strong></td>
            <td><strong>{{ builds_size }}</strong></td>
        </tr>
        </tfoot>
    </table>

{% endblock %}