{% extends 'maintainer_base.html' %}

{% load static %}

{% block title %}{{ device }}{% endblock %}

{% block content %}
    <h3>{{ device }} - Upload new build</h3>

    <br>

    <div id='status-alert' class="alert" hidden></div>

    <form action="" method="post" enctype="multipart/form-data" onsubmit="startUpload(); return false;">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="upload-button" type="submit" class="btn btn-primary">Upload</button>
    </form>

    <!-- Spinner -->
    <div class="spinner-border spinner-border-sm" role="status" hidden>
        <span class="sr-only visually-hidden-focusable">Uploading...</span>
    </div>

    <!-- Progress bar -->
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>

    <script>
        // Constants
        const uploadButton = document.getElementById('upload-button');
        const progressBar = document.querySelector('.progress-bar');
        const spinner = document.querySelector('.spinner-border');
        const statusAlert = document.getElementById('status-alert');

        // Initialize connection to server
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '', true);
        xhr.responseType = 'json';

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                const status = xhr.status;
                if (status === 0 || (status >= 200 && status < 400)) {
                    statusAlert.classList.add("alert-success");
                    statusAlert.innerText = xhr.response['message'];
                } else {
                    statusAlert.classList.add("alert-warning");
                    if (status === 400)
                        statusAlert.innerText = xhr.response['message'];
                    else
                        statusAlert.innerText = "An unexpected error occurred.";
                }

                // Show status alert
                statusAlert.removeAttribute("hidden");

                cleanup();
            }
        };

        xhr.upload.onprogress = function (event) {
            if (event.lengthComputable) {
                const percentVal = event.loaded * 100 / event.total;
                progressBar.setAttribute("style", "width: " + (percentVal + '%'));
                progressBar.setAttribute("aria-valuenow", (percentVal | 0).toString());
                progressBar.innerHTML = parseInt((percentVal).toString(), 10) + "%";
            }
        };

        xhr.onerror = function () {
            alert("A network error occurred.");
            cleanup();

            // Show red progress bar to indicate failure
            progressBar.setAttribute("style", progressBar.getAttribute("style") + "; background-color: red;")
        };

        function warnBeforeLeaving() { return ''; }

        function cleanup() {
            // Hide spinner
            spinner.setAttribute("hidden", "");

            // Disable warning before leaving the page
            window.onbeforeunload = null;
        }

        // Upload button
        function startUpload() {
            // Disable all buttons
            const buttonList = document.querySelectorAll('input');
            buttonList.forEach((element) => {
                element.setAttribute("disabled", "");
            });

            // Warn user if exiting before upload complete
            window.onbeforeunload = warnBeforeLeaving;

            // Show spinner to indicate progress
            spinner.removeAttribute("hidden");

            // Send request
            xhr.send(new FormData(document.querySelector('form')));
        }
    </script>

{% endblock %}