{% extends 'maintainer_base.html' %}

{% load static %}

{% block title %}{{ device }}{% endblock %}

{% block content %}
    <h3>{{ device }} - Upload new build</h3>

    <br>

    {% if upload_succeeded == True %}
        <div class="alert alert-success">Your build was successfully uploaded!</div>
    {% elif upload_succeeded == False %}
        <div class="alert alert-warning">
            {% if error_reason == 'invalid_form' %}
                The form is invalid!
            {% elif error_reason == 'file_name_mismatch' %}
                The build file and the checksum file names do not match!
            {% elif error_reason == 'not_official' %}
                The build is not official!
            {% elif error_reason == 'invalid_file_name' %}
                The build file name was malformed. Do not change the build file name after compilation.
            {% elif error_reason == 'codename_mismatch' %}
                The device codename does not match the build codename. Are you sure you meant to upload for {{ device }}
                ?
            {% elif error_reason == 'duplicate_build' %}
                The build already exists in the system!
            {% else %}
                An undefined error occurred and there was a problem uploading your build. Please contact the
                administrators.
                Error reason: {{ error_reason }}
            {% endif %}
        </div>
    {% endif %}

    {{ form.errors }}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>

        <br>

        <!-- TODO: refactor to use input/submit button -->
        <button id="upload-button" class="btn btn-primary btn-sm" type="button">Upload</button>
        <div class="spinner-border spinner-border-sm" role="status" hidden>
            <span class="sr-only visually-hidden-focusable">Uploading...</span>
        </div>

    </form>

    <script>
        // Constants
        let uploadButton = document.getElementById('upload-button');
        let progressBar = document.querySelector('.progress-bar');

        // Initialize connection to server
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '', true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status !== 200) {
                    alert("The server sent back an error.");
                    console.log(xhr.statusText);
                } else {
                    document.open();
                    document.write(xhr.response);
                    document.close();
                }
            }
        };

        xhr.onprogress = function (event) {
            if (event.lengthComputable) {
                let percentVal = event.loaded * 100 / event.total;
                progressBar.width(percentVal + '%');
                progressBar.setAttribute("aria-valuenow", (percentVal | 0).toString());
                progressBar.text(parseInt((percentVal).toString(), 10) + "%");
            }
        };

        xhr.onerror = function () {
            alert("An error occurred while uploading the build. Please check your Internet connection.");
        };

        // Upload button
        uploadButton.addEventListener("click", () => {
            // Disable upload button
            uploadButton.setAttribute("disabled", "");

            // Show spinner to indicate progress
            document.querySelector('.spinner-border').removeAttribute("hidden");

            // Send request
            xhr.send(new FormData(document.querySelector('form')));
        });
    </script>

{% endblock %}