{% extends 'maintainer_base.html' %}

{% block title %}{{ object }}{% endblock %}

{% block content %}

    <div class="container">
        <h3 style="display: inline-block">{{ object }}</h3>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Build name</th>
            <th scope="col">Size</th>
            <th scope="col">Variant</th>
            <th scope="col">Download Count</th>
            <th scope="col">Enabled</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for build in object.get_all_build_objects %}
            <tr>
                <td>{{ build.file_name }}</td>
                <td title="{{ build.size }} bytes">{{ build.get_human_readable_size }}</td>
                <td>{{ build.variant }}</td>
                <td>{{ build.download_count }}</td>
                <td>
                    {% if build.enabled %}
                        ✅
                        <a href="{% url 'build_enabled_status_modify' pk=build.id %}"
                           class="btn btn-danger btn-sm confirm-disable">Disable</a>
                    {% else %}
                        ❌
                        <a href="{% url 'build_enabled_status_modify' pk=build.id %}"
                           class="btn btn-success btn-sm confirm-enable">Enable</a>
                    {% endif %}
                </td>
                <td><a href="{% url 'build_delete' pk=build.id %}" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        const enableButtonList = document.querySelectorAll('.confirm-enable');
        enableButtonList.forEach((element) => {
            element.addEventListener("click", (e) => {
                if (!window.confirm("Are you sure you want to enable this build?")) e.preventDefault();
            })
        });

        const disableButtonList = document.querySelectorAll('.confirm-disable');
        disableButtonList.forEach((element) => {
            element.addEventListener("click", (e) => {
                if (!window.confirm("Are you sure you want to disable this build?")) e.preventDefault();
            })
        });
    </script>
{% endblock %}