{% extends 'maintainer_base.html' %}

{% block title %}{{ object }}{% endblock %}

{% block content %}

    <div class="container">
        <h3 style="display: inline-block">{{ object }}</h3>
    </div>

    <div class="alert alert-info">
        <h4>Device Notes</h4>
        {% if object.note %}
            {{ object.note }}
        {% else %}
            <em>This device does not have any notes.</em>
        {% endif %}
        <a href="{% url 'device_edit_note' pk=object.id %}" class="btn btn-info btn-sm">Edit</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Build name</th>
            <th scope="col">Size</th>
            <th scope="col">Variant</th>
            <th scope="col">Download Count</th>
            <th scope="col">Enabled</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for build in object.get_all_builds %}
            <tr>
                <td>{{ build.file_name }}</td>
                <td title="{{ build.size }} bytes">{{ build.get_human_readable_size }}</td>
                <td>{{ build.variant }}</td>
                <td>{{ build.get_download_count }}</td>
                <td>
                    {% if build.enabled %}
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input type="checkbox" data-url="{% url 'build_enabled_status_modify' pk=build.id %}" onchange="switchEnable(this);" checked>
                    {% else %}
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input type="checkbox" data-url="{% url 'build_enabled_status_modify' pk=build.id %}" onchange="switchEnable(this);">
                    {% endif %}
                </td>
                <td><a href="{% url 'build_delete' pk=build.id %}" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        function switchEnable(cb) {
            let action_verb;
            if (cb.checked)
                action_verb = "enable";
            else
                action_verb = "disable";

            if (window.confirm("Are you sure you want to " + action_verb + " this build?")) {
                window.location.replace(cb.getAttribute('data-url'));
            } else {
                // Cancel clicked, reset the switch
                cb.checked = !cb.checked;
            }
        }
    </script>
{% endblock %}