{% extends 'maintainer_base.html' %}

{% block title %}Email sent!{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <div class="alert alert-info">
                We sent an email with instructions on how to reset your password! If it's not showing up, please
                check your spam folder.
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}