{% extends 'maintainer_base.html' %}

{% block title %}Registration Successful{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <div class="alert alert-info">Registration was successful!</div>
        <div class="alert alert-warning">Note that you will not be able to log in until an admin has verified your registration.</div>
        <a class="btn btn-info" href="/">Go to dashboard</a>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}