{% extends 'maintainer_base.html' %}

{% load i18n %}

{% block title %}{% translate "Edit" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <form action="" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value='{% translate "Save" %}'>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}