<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    {% block base_head %}
    {% endblock %}

</head>
<body>
{% block base_content %}
{% endblock %}

</body>
</html>