{% extends 'base.html' %}

{% block base_content %}
    <div class="container">
        <header class="header clearfix">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'maintainer_dashboard' %}">Shipper</a>
                <ul class="nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a href="{% url 'password_change' %}" class="nav-link">Change Password</a>
                        </li>
                        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                        <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock %}

        <hr>

        <footer class="footer">
            Version {{ SHIPPER_VERSION }}
        </footer>
    </div>
{% endblock %}