{% extends 'base.html' %}

{% block base_content %}
    <div class="container">
        <header class="header clearfix">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">{{ downloads_page_main_branding }}</a>
                <a class="btn btn-outline-secondary" href="{{ main_website_url }}">Go back to main website</a>
            </nav>
        </header>

        {% block content %}
        {% endblock %}

    </div>
{% endblock %}