{% load i18n %}

{% if build_objects %}
    <h2>{% blocktranslate %}{{ variant_name }} build downloads{% endblocktranslate %}</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{% translate "Builds" %}</th>
            <th scope="col">{% translate "Size" %}</th>
            <th scope="col">{% translate "Download" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for build in build_objects %}
            <tr>
                <td title="{{ build }}">{{ build.get_user_friendly_name }}</td>
                <td title="{{ build.size }} bytes">{{ build.get_human_readable_size }}</td>
                <td>
                    <a href="{% url 'downloads_build' codename=device.codename pk=build.id %}"
                       class="btn btn-success btn-sm" title="">{% translate "Download" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
