{% extends 'user_base.html' %}

{% block title %}Downloads for {{ object }}{% endblock %}

{% block content %}
    <h1>Downloads for {{ object }}</h1>
    <br>

    {% include 'debug_warning.html' %}

    <!-- Device maintenance check -->
    {% if object.status == False %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Warning</h4>
            <p class="mb-0">This device is no longer supported, and things may break at any time. Download at your own
                risk!</p>
        </div>
    {% endif %}

    {% include 'donation_alert.html' %}

    <!-- GApps section -->
    {% if object.has_gapps_builds %}
        {% include 'downloads_device_variant.html' with variant_name="GApps" build_objects=object.get_all_gapps_build_objects device=object %}
    {% endif %}

    <!-- Vanilla section -->
    {% if object.has_vanilla_builds %}
        {% include 'downloads_device_variant.html' with variant_name="Vanilla (no GApps)" build_objects=object.get_all_vanilla_build_objects device=object %}
    {% endif %}

    <!-- FOSS section -->
    {% if object.has_foss_builds %}
        {% include 'downloads_device_variant.html' with variant_name="FOSS" build_objects=object.get_all_foss_build_objects device=object %}
    {% endif %}

    <!-- GoApps section -->
    {% if object.has_goapps_builds %}
        {% include 'downloads_device_variant.html' with variant_name="GoApps (Android Go Edition GApps)" build_objects=object.get_all_goapps_build_objects device=object %}
    {% endif %}

    {% if not object.has_builds %}
        <h2>Sorry, this device currently has no builds. Check back later!</h2>
    {% endif %}
{% endblock %}