{% extends 'user_base.html' %}
{% load build_extras %}

{% block title %}Downloads for {{ object }}{% endblock %}

{% block content %}
    <h1>Downloads for {{ object }}</h1>
    <br>

    {% include 'debug_warning.html' %}

    <!-- Device maintenance check -->
    {% if object.status == False %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Warning</h4>
            <p class="mb-0">This device is no longer supported, and things may break at any time. Download at your own
                risk!</p>
        </div>
    {% endif %}

    {% include 'donation_alert.html' %}

    {% device_variant_section device=object variant="gapps" variant_name="GApps" %}
    {% device_variant_section device=object variant="vanilla" variant_name="Vanilla (no GApps)" %}
    {% device_variant_section device=object variant="foss" variant_name="FOSS" %}
    {% device_variant_section device=object variant="goapps" variant_name="GoApps (Android Go Edition GApps)" %}

    {% if not object.has_builds %}
        <h2>Sorry, this device currently has no builds. Check back later!</h2>
    {% endif %}
{% endblock %}