{% extends 'user_base.html' %}

{% load build_extras %}
{% load i18n %}

{% block title %}{% blocktranslate %}Downloads for {{ object }}{% endblocktranslate %}{% endblock %}

{% block content %}
    <h1>{% blocktranslate %}Downloads for {{ object }}{% endblocktranslate %}</h1>
    <br>

    {% include 'debug_warning.html' %}

    <!-- Device maintenance check -->
    {% if object.status == False %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">{% translate "Warning" %}</h4>
            <p class="mb-0">{% translate "This device is no longer supported, and things may break at any time. Download at your own risk!" %}</p>
        </div>
    {% endif %}

    {% include 'donation_alert.html' %}

    <p>{% blocktranslate with last_updated_date=object.human_readable_last_updated %}This device was last updated {{ last_updated_date }}{% endblocktranslate %}</p>

    {% for variant in upload_variants %}
        {% device_variant_section device=object variant=variant %}
    {% endfor %}

    {% if not object.has_enabled_hashed_builds %}
    <h2>{% translate "Sorry, this device currently has no builds. Check back later!" %}</h2>
    {% endif %}
{% endblock %}
