{% extends 'user_base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% translate "Downloads" %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="{% static 'css/downloads-main.css' %}">
{% endblock %}

{% block content %}

    {% include 'debug_warning.html' %}

    <div id="root"></div>

    {{ active_devices|json_script:'active-devices' }}
    <script src="{% static 'downloads-main.bundle.js' %}?cachebust={% now 'U' %}"></script>
    <!-- TODO: Remove cache-busting tag once main page is stable! -->
{% endblock %}
