{% extends 'base.html' %}

{% block title %}{{ device }}{% endblock %}

{% block content %}
    <h3>{{ device }} - Upload new build</h3>

    {% if upload_succeeded == True %}
        <div class="alert alert-success">Your build was successfully uploaded!</div>
        <div class="alert alert-info">Note that your build will not show up on the build list until changes have propagated.</div>
    {% elif upload_succeeded == False %}
        {% if invalid_form == True %}
            <div class="alert alert-warning">The submitted files are incorrect!</div>
        {% else %}
            <div class="alert alert-warning">There was a problem uploading your build.</div>
        {% endif %}
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="build_file">Files</label>
        <input id="build_file" type="file" name="build_file" accept=".zip, .md5" multiple>
        <p>Only .zip and .md5 files can be uploaded.</p>

        <br>

        <label for="gapps">GApps included</label>
        <input id="gapps" type="checkbox" name="gapps">

        <br>

        <label for="release">Release</label>
        <select id="release" name="release">
            <option value="STABLE" selected="selected">Stable</option>
            <option value="BETA">Beta</option>
            <option value="ALPHA">Alpha</option>
        </select>

        <br>

        <button class="btn btn-info btn-sm" type="submit">Upload</button>
    </form>
{% endblock %}