{% extends 'maintainer_base.html' %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
    <h3>{{ object }}</h3>

    <div class="btn-group">
        <a href="{% url 'build_delete' pkd=object.device.id pk=object.id %}" class="btn btn-danger btn-sm">Delete build</a>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Size</th>
                    <th scope="col">SHA256</th>
                    <th scope="col">GApps</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ object.size }}</td>
                    <td>{{ object.sha256sum }}</td>
                    <td>{{ object.gapps }}</td>
                </tr>
            </tbody>
        </table>
    </div>


{% endblock %}