{% extends 'maintainer_base.html' %}

{% block title %}{{ device }}{% endblock %}

{% block content %}
    <h3>{{ device }} - Upload new build</h3>

    {% if upload_succeeded == True %}
        <div class="alert alert-success">Your build was successfully uploaded!</div>
    {% elif upload_succeeded == False %}
        <div class="alert alert-warning">
        {% if error_reason == 'invalid_form' %}
            The form is invalid!
        {% elif error_reason == 'file_name_mismatch' %}
            The build file and the checksum file names do not match!
        {% elif error_reason == 'not_official' %}
            The build is not official!
        {% elif error_reason == 'invalid_file_name' %}
            The build file name was malformed. Do not change the build file name after compilation.
        {% elif error_reason == 'codename_mismatch' %}
            The device codename does not match the build codename. Are you sure you meant to upload for {{ device }}?
        {% elif error_reason == 'duplicate_build' %}
            The build already exists in the system!
        {% else %}
            An undefined error occurred and there was a problem uploading your build. Please contact the administrators.
            Error reason: {{ error_reason }}
        {% endif %}
        </div>
    {% endif %}

    {{ form.errors }}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>

        <br>

        <button class="btn btn-info btn-sm" type="button">Upload</button>
        <div class="spinner-border spinner-border-sm" role="status" hidden="true">
            <span class="sr-only">Uploading...</span>
        </div>

    </form>

    <br>

    <p>Warning: This page does not support drag-and-drop. Drag the files onto the "Choose File" button instead.</p>

    <script>
        $(':button').on('click', function () {
            // Disable button
            $(':button').attr("disabled", true);
            $('.spinner-border').attr("hidden", false);

            $.ajax({
                url: '',
                type: 'POST',
                data: new FormData($('form')[0]),
                cache: false,
                contentType: false,
                processData: false,
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    var bar = $('.progress-bar');
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener('progress', function (e) {
                            if (e.lengthComputable) {
                                var percentVal = e.loaded * 100 / e.total;
                                bar.width(percentVal + '%');
                                bar.attr("aria-valuenow", percentVal | 0);
                                bar.text(parseInt(percentVal, 10) + "%");
                            }
                        }, false);
                    }
                    return myXhr;
                },
                success: function (response) {
                    $("html").html(response);
                },
                error: function(response) {
                    $("html").html(response.responseText);
                }
            });
        });
    </script>

{% endblock %}