{% extends 'maintainer_base.html' %}

{% block title %}Force Processing{% endblock %}

{% block content %}
    <h3>Force processing: {{ device }}</h3>

    {% if started == True %}
        <div class="alert alert-success">Force processing started.</div>
    {% else %}
        <div class="alert alert-danger">Do NOT run force-processing unless you know what you are doing! Are you sure you wish to initiate force-processing?</div>

        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Begin Force-processing" class="btn btn-danger">
        </form>
    {% endif %}

{% endblock %}