{% extends 'maintainer_base.html' %}

{% block title %}{{ object }}{% endblock %}

{% block content %}

    <div class="row align-items-center ml-2 mt-2 mb-2">
        <h3 class="mr-2 my-auto" style="display: inline">{{ object }}</h3>
        <a href="{% url 'build_upload' pk=object.id %}" class="btn btn-success btn-sm my-auto">Upload new build</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Build name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for build in object.builds.all %}
            <tr>
                <td>{{ build.file_name }}</td>
                <td><a href="{% url 'build_delete' pk=build.id %}" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}