{% extends 'maintainer_base.html' %}

{% block title %}{{ object }}{% endblock %}

{% block content %}

    <div class="container">
        <h3 style="display: inline-block">{{ object }}</h3>
        <a href="{% url 'build_upload' pk=object.id %}" class="btn btn-success btn-sm">Upload new build</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Build name</th>
            <th scope="col">Size</th>
            <th scope="col">Variant</th>
            <th scope="col">Enabled</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for build in object.builds.all %}
            <tr>
                <td>{{ build.file_name }}</td>
                <td title="{{ build.size }} bytes">{{ build.get_human_readable_size }}</td>
                <td>{{ build.variant }}</td>
                <td>
                    {% if build.enabled %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                </td>
                <td>
                    {% if build.enabled %}
                        <a href="{% url 'build_enabled_status' pk=build.id %}"
                           class="btn btn-danger btn-sm confirm-disable">Disable</a>
                    {% else %}
                        <a href="{% url 'build_enabled_status' pk=build.id %}"
                           class="btn btn-success btn-sm confirm-enable">Enable</a>
                    {% endif %}
                    <a href="{% url 'build_delete' pk=build.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <script>
        $(function () {
            $('.confirm-enable').click(function () {
                return window.confirm("Are you sure you want to enable this build?");
            });
            $('.confirm-disable').click(function () {
                return window.confirm("Are you sure you want to disable this build?");
            });
        });
    </script>
{% endblock %}