{% extends 'maintainer_base.html' %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
    <h3>{{ object }}</h3>

    <div class="btn-group">
        <a href="{% url 'build_upload' pk=object.id %}" class="btn btn-success btn-sm">Upload new build</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Build name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for build in object.builds.all %}
            <tr>
                <td><a href="{% url 'build_detail' pkd=object.id pk=build.id %}">{{build.file_name}}</a></td>
                <!-- url 'upload' pk=device.id  -->
                <td><a href="#" class="btn btn-success btn-sm">test</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}