{% extends 'user_base.html' %}

{% load build_extras %}

{% block title %}Downloads for {{ object }}{% endblock %}

{% block content %}
    <h1>Downloads for {{ object }}</h1>
    <br>

    <!-- Check for debug mode -->
    {% if DEBUG %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">This is a development server!</h4>
            <p class="mb-0">Please make sure you are connecting to the correct server!</p>
            <p class="mb-0">If you believe you are on the correct server, please contact an admin.</p>
        </div>
    {% endif %}

    <!-- Donation alert -->
    {% if downloads_page_donation_url != "#" %}
        <div class="alert alert-secondary">
            Please <a href="{{ downloads_page_donation_url }}" class="alert-link">consider donating</a> to support the
            team. Thank you!
        </div>
    {% endif %}

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Server</th>
                <th scope="col">Description</th>
                <th scope="col">Download</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Main</td>
                <td>Download builds from the main website.</td>
                <td><a href="{{ object.zip_file.url }}"
                                   class="btn btn-success btn-sm" title="">Download</a>
                    <a href="{{ object.md5_file.url }}"
                                   class="btn btn-link btn-sm">MD5</a>
                </td>
            </tr>

            {% for mirror in object.get_enabled_downloadable_mirrors %}
                <tr>
                    <td>{{ mirror.name }}</td>
                    <td>{{ mirror.description }}</td>
                    <td><a href="{{ mirror.download_url_base|format_download_url:object.zip_file.name }}"
                                       class="btn btn-success btn-sm" title="">Download</a>
                        <a href="{{ mirror.download_url_base|format_download_url:object.md5_file.name }}"
                                       class="btn btn-link btn-sm">MD5</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Download counter script -->
    <script>
        function increment_download_count() {
            // Formulate data to send
            const build_data = {
                file_name: "{{ object.file_name }}",
                build_id: {{ object.id }}
            }

            fetch('{% url 'downloads_api_build_counter' %}', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(build_data)
            })
            .then(response => response.json())
            .then(json => console.log(json))
            .catch(err => console.log(err))
        }
    
        // Get all download buttons
        const downloadButtons = document.querySelectorAll('a.btn.btn-success.btn-sm')

        downloadButtons.forEach(function(downloadButton) {
            downloadButton.addEventListener('click', increment_download_count)
        })
    </script>


{% endblock %}