{% extends 'user_base.html' %}

{% block title %}Downloads{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Device</th>
            <th scope="col">Download</th>
        </tr>
        </thead>
        <tbody>
            {% for device in object_list %}
                {% if device.does_processed_builds_exist %}
                <tr>
                    <td><a href="https://sourceforge.net/projects/{{ sourceforge_project_name }}/files/Q/{{ device.codename }}" title="Go to the device SourceForge">{{device}}</a></td>
                    <td><a href="https://sourceforge.net/projects/{{ sourceforge_project_name }}/files/Q/{{ device.codename }}/{{ device.get_latest_build_object.file_name }}.zip/download" class="btn btn-success btn-sm" title="Download the latest build for this device">Download</a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>



    <a href="#faqContainer" class="btn btn-outline-info btn-sm" data-toggle="collapse">Frequently asked questions</a>

    <div class="card card-body collapse" id="faqContainer">
      <ul>
          <li>Where are the downloads hosted?</li>
          <ul>
            <li>All downloads are hosted <a href="https://sourceforge.net/projects/{{ sourceforge_project_name }}">at SourceForge.</a></li>
          </ul>
          <li>If I click on a download, SourceForge says the build is not found. What is going on?</li>
          <ul>
            <li>SourceForge requires processing time to mirror the builds across their infrastructure and make the builds available.
              During this time, you may receive an error. If this happens, then please try again after a couple of minutes.
            </li>
          </ul>
      </ul>
    </div>
{% endblock %}