{% extends 'user_base.html' %}

{% block title %}Downloads{% endblock %}

{% block content %}
    {% if DEBUG %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">This is a development server!</h4>
            <p class="mb-0">Please make sure you are connecting to the correct server!</p>
            <p class="mb-0">If you believe you are on the correct server, please contact an admin.</p>
        </div>
    {% endif %}

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Device</th>
                <th scope="col">Download Latest</th>
            </tr>
            </thead>
            <tbody>
            {% for device in object_list %}
                <tr>
                    {% if device.has_builds %}
                        {% if device.status %}
                            <td><a href="download/{{ device.codename }}/">{{ device }}</a></td>
                        {% else %}
                            <td class="text-reset text-decoration-line-through"
                                title="This device is no longer supported.">
                                <a class="text-reset text-decoration-line-through"
                                   href="download/{{ device.codename }}/">{{ device }}</a>
                            </td>
                        {% endif %}
                        <td>
                            <!-- GApps -->
                            <a
                                    {% if device.has_gapps_builds %}
                                        class="btn btn-primary btn-sm"
                                        href="download/{{ device.codename }}/{{ device.get_latest_gapps_build_object.id }}/"
                                    {% else %}
                                        class="btn btn-primary btn-sm disabled"
                                        href="#"
                                        tabindex="-1"
                                        aria-disabled="true"
                                    {% endif %}
                            >GApps</a>

                            <!-- Non-GApps -->
                            <a
                                    {% if device.has_vanilla_builds %}
                                        class="btn btn-secondary btn-sm"
                                        href="download/{{ device.codename }}/{{ device.get_latest_vanilla_build_object.id }}"
                                    {% else %}
                                        class="btn btn-secondary btn-sm disabled"
                                        href="#"
                                        tabindex="-1"
                                        aria-disabled="true"
                                    {% endif %}
                            >Non-GApps</a>

                            <!-- FOSS -->
                            <a
                                    {% if device.has_foss_builds %}
                                        class="btn btn-warning btn-sm"
                                        href="download/{{ device.codename }}/{{ device.get_latest_foss_build_object.id }}"
                                    {% else %}
                                        class="btn btn-warning btn-sm disabled"
                                        href="#"
                                        tabindex="-1"
                                        aria-disabled="true"
                                    {% endif %}
                            >FOSS</a>

                            <!-- Go Apps -->
                            <a
                                    {% if device.has_goapps_builds %}
                                        class="btn btn-dark btn-sm"
                                        href="download/{{ device.codename }}/{{ device.get_latest_goapps_build_object.id }}"
                                    {% else %}
                                        class="btn btn-dark btn-sm disabled"
                                        href="#"
                                        tabindex="-1"
                                        aria-disabled="true"
                                    {% endif %}
                            >Go Apps</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}