{% extends 'maintainer_base.html' %}

{% block title %}Shipper{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Device</th>
            <th scope="col">Upload</th>
        </tr>
        </thead>
        <tbody>
            {% for device in object_list %}
            <tr>
                <td><a href="{% url 'device_detail' pk=device.id %}">{{device.name}}</a></td>
                <td><a href="{% url 'build_upload' pk=device.id %}" class="btn btn-success btn-sm">Upload new build</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}