name: nginx gixy tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-runners:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install gixy-ng
      - name: Run gixy tests
        run: |
          gixy ./docker/nginx/nginx.conf
          gixy ./docker/dev/nginx/nginx.conf
