name: Build and publish server Docker image on release

on:
  push:
    tags:
      - "*.*.*"

permissions:
  packages: write

jobs:
  build-server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Extract tag version
        run: echo "TAG_VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - name: Extract Docker image metadata
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/shipperstack/shipper-server
          tags: type=semver,pattern={{version}},value=${{ env.TAG_VERSION }}
      - name: Login to GitHub Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./server
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          build-args: |
            BRANCH=${{ env.TAG_VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
